<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yourowngame.com.yourowngame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_gameboy"
        android:label="@string/appName"
        android:roundIcon="@drawable/app_icon_gameboy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/SplashTheme"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameViewActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape" />

        <!-- screenOrientation and configChanges so only portrait mode -->
        <activity android:name=".activities.CreditActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>