<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yourowngame.com.yourowngame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_meloon"
        android:label="@string/appName"
        android:roundIcon="@mipmap/launcher_meloon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme" />

        <!-- screenOrientation and configChanges so only landscape mode -->
        <activity
            android:name=".activities.HighscoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".activities.LevelHierarchyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme" />
        <activity android:name=".activities.SwipeFruitsActivity" />
        <activity
            android:name=".activities.GameLevelHorizontalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme" />
        <activity android:name=".activities.WorldActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>