# do not push sensitive files
app/src/main/java/yourowngame/com/yourowngame/classes/commercial/interfaces/IAdManager.java

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
